 <div class="bg-blue-300 flex justify-evenly">
        
        <p class="text-2xl font-bold">Mern Development</p>
        <div class="flex space-x-6">
            <a href="/" class="font-semibold text-lg">Home</a>
            <a href="/login" class="font-semibold text-lg">LogIn</a>
            <a href="/register" class="font-semibold text-lg">Register</a>
        </div>
        
        </div>